// Define base colors for theme
$primary-color: #4086ff; // Example playful pink
$accent-color: #ffc107; // Example accent color
$light-background: #f4f4f4; // Light grey for background
$dark-text: #333; // Dark grey for text

// Import the font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

// Reset some basic elements
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: $light-background;
  color: $dark-text;
  font-family: 'Poppins', sans-serif;
}

.profile-picture {
    display: flex;
    flex: 0 1 auto;
    width: 300px; // Adjust size as needed
    height: 300px; // Adjust size as needed
    border-radius: 80%; // Makes the image circular
    overflow: hidden; // Ensures the image doesn't spill out of the border-radius
    position: relative; // Allows z-index to work
    z-index: 1; // Ensures it's above the nav bar
    box-shadow: -4px 4px 14px rgba(0,0,0,0.6); // Optional: adds a shadow for depth
    
    img {
      width: 100%; // Ensures the image covers the container
      height: 100%; // Ensures the image covers the container
      object-fit: cover; // Ensures the image is nicely cropped
      display: block; // Removes any potential spacing issues
    }
  }
  

// Styling for the navigation bar
nav {
  background-color: $primary-color;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  .logo {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .nav-links {
    a {
      color: white;
      text-decoration: none;
      margin-left: 2rem;

      &:hover {
        color: $accent-color;
      }
    }
  }
}

// Simple styling for the main content area
main {
  padding: 1rem;
}

