<div style="display: flex; flex-direction: column; align-items: center;">
    <div class="profile-picture">
        <img src="assets/pfp.png" 
             alt="A selfie of me underneath my car, working on taking off a lower control arm. 
                  There is a 17mm" />
    </div>

    <div class="flex-item text-center">
        <blockquote>
            <p>Welcome to my Workshop.</p>
            
            <footer>— Colin Laws</footer>
        </blockquote>
    </div>

    <div class="row" style="align-items: center;">
        <div class="item">
            <a href="https://github.com/ColinLaws">
                <img class="social-icon" src="assets/social/gh.svg" />
            </a>
        </div>

        <div class="item">
            <a href="https://stackoverflow.com/users/4556992/">
                <img class="social-icon" src="assets/social/so.svg" />
            </a>
        </div>

        <div class="item">
            <a href="https://www.youtube.com/channel/UCmRKnCcaOS5W-1wd04RgOMw">
                <img class="social-icon" src="assets/social/yt.svg" />
            </a>
        </div>

        <div class="item">
            <a href="https://www.linkedin.com/in/0xc/">
                <img class="social-icon" src="assets/social/li.png" />
            </a>
        </div>
    </div>

    <a href="https://bughunters.google.com/profile/986ec9f6-1bcb-4fad-8532-e9557529a3f0/awards">
        Be sure to check out my Google Bug Hunters profile, too!
    </a>
</div>
